<mat-toolbar>
  <mat-icon>bookmark_border</mat-icon>
  <h1>NEOTERIST</h1>
</mat-toolbar>

<mat-card>
  <mat-card-title><h2>Definition of NOUN 'neoterist' (plural neoterists)</h2></mat-card-title>
  <mat-card-subtitle>
    <p><b>PRONUNCIATION</b> /nɪˈɒtərɪst/</p>
    <p><b>ETYMOLOGY</b> Ancient Greek</p>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip disabled>A person who is keen on innovation and novelty</mat-chip>
      <mat-chip disabled>An innovator, a coiner of new words</mat-chip>
      <mat-chip disabled>One who introduces new words or phrases</mat-chip>
      <mat-chip disabled>One who invents new words or expressions</mat-chip>
      <mat-chip disabled>An innovator in language</mat-chip>
      <mat-chip disabled>A proponent or adherent of new ideas or practices</mat-chip>
      <mat-chip disabled>A coiner or user of new words or phrases</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-footer> ©2011 neoterist.com</mat-card-footer>
</mat-card>

<router-outlet></router-outlet>