.mat-toolbar {
    background: #9c27b0;
    color: #fff;
}

.mat-card {
    margin-top: 10px;
    max-width: 1000px;
}

.mat-chip-disabled {
    opacity: 1 !important;
    font-weight: normal;
}

.mat-card-footer {
    text-align: right;
    padding: 10px;
}

.center {
    margin: 0 auto;
}